.card {
  width: 200px;
  height: 300px;
  margin: 0 5px 10px 5px;
  border: 1px solid #393939;
  text-align: center;
  cursor: pointer;
}

.list {
  list-style-type: none;
} 

h4 {
  color: #393939;
}

.low {
  color: aqua
}

.high {
  color: blue
}

.active {
  border: 2px solid red
}